@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    transform: translateX(-1300px);
  }
  100% {
    transform: translateX(1300px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  50% {
    transform: translateX(0px) translateY(0px) rotate(4deg);
  }
  75% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  100% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
}

@keyframes fall-tub {
  0% {
    transform: translateY(-100px);
  }
  40% {
    transform: translateY(-98px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes mouving-cart {
  0% {
    transform: translateX(-200px);
  }
  60% {
    transform: translateX(0px);
  }
}

@font-face {
  font-family: "BerlinSansFB";
  src: url("../assets/fonts/BRLNSR.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BerlinSansFB";
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000000ff;
}

header {
  background-color: #ffffffff;
  position: absolute;
  z-index: 2;
  width: 100%;
  border-bottom: 6px solid #ffca18ff;
}

header a:hover {
  color: #ffca18ff;
}

header #header__image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

header #header__image-picto {
  white-space: nowrap;
}

header #header__image-picto-compte:hover {
  background: url(../assets/pictures/header/picto_compte-active.png) no-repeat center;
}

header #header__image-picto-panier:hover {
  background: url(../assets/pictures/header/picto_panier-active.png) no-repeat center;
}

header #header__image-picto a:last-child {
  margin-left: 50px;
}

header #header__link {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.3rem;
  margin-bottom: 50px;
}

@media (min-width: 800px) and (orientation: landscape) {
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  header #header__image {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  header #header__image > a img {
    width: 173px;
    height: 82px;
  }
  header #header__image-picto-compte {
    width: 36px;
    height: 43px;
  }
  header #header__image-picto-compte:hover {
    background: url(../assets/pictures/header/picto_compte-active-desktop.png) no-repeat center;
  }
  header #header__image-picto-panier {
    width: 29px;
    height: 40px;
  }
  header #header__image-picto-panier:hover {
    background: url(../assets/pictures/header/picto_panier-active-desktop.png) no-repeat center;
  }
  header #header__image a:last-child {
    margin-left: 25px;
  }
  header #header__link {
    justify-content: left;
    width: 30%;
    align-items: center;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 1.1rem;
    padding-left: 8%;
  }
  header #header__link a:first-child {
    margin-right: 10%;
  }
}

footer {
  background-color: #ffca18ff;
  text-align: center;
  font-size: 2.7rem;
  position: relative;
}

footer a:hover {
  color: #ffffffff;
}

footer #dessinAcacia {
  position: absolute;
  right: 0px;
  top: 60px;
}

footer #dessinRonce {
  position: absolute;
  bottom: 60px;
  left: 0px;
}

footer #footer {
  position: relative;
  z-index: 2;
}

footer #footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

footer #footer__link-rateContact {
  white-space: nowrap;
}

footer #footer__link-rateContact h3 {
  font-weight: normal;
  margin: 20px 0px;
}

footer #footer__link-rateContact a:hover img {
  opacity: .5;
}

footer #footer__link-rod {
  border-bottom: 6px solid #000000ff;
  width: 30%;
  margin: 40px 0px;
}

footer #footer__link li {
  margin: 20px 0px;
}

footer #footer__networkCopyright {
  padding-bottom: 50px;
}

footer #footer__networkCopyright figure {
  margin: 100px 0px;
}

footer #footer__networkCopyright figure a:hover img {
  opacity: .5;
}

footer #footer__networkCopyright p {
  font-size: 30px;
}

@media (min-width: 800px) and (orientation: landscape) {
  footer {
    font-size: 1.2rem;
  }
  footer #dessinAcacia {
    top: 5px;
    width: 229px;
    height: 262px;
  }
  footer #dessinRonce {
    width: 220px;
    height: 188px;
  }
  footer #footer__link {
    flex-direction: row;
    justify-content: center;
    padding: 40px 0px;
  }
  footer #footer__link-rateContact img {
    width: 20px;
    height: 19px;
  }
  footer #footer__link ul {
    text-align: left;
  }
  footer #footer__link-rod {
    border-right: 3px solid #000000ff;
    width: 0%;
    height: 120px;
    margin: 0px 60px;
  }
  footer #footer__networkCopyright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
  }
  footer #footer__networkCopyright figure {
    margin: 0px;
  }
  footer #footer__networkCopyright figure img {
    width: 30px;
    height: 30px;
  }
  footer #footer__networkCopyright p {
    font-size: 1rem;
    align-items: flex-end;
  }
}

#accueil {
  position: relative;
  text-align: center;
  /*** Hero Baner ***/
  /*** French Flag ***/
  /**** Anchor****/
  /*** Description ***/
  /*** Apiarie ***/
  /*** Point de vente ***/
  /*** Pictogram ***/
}

#accueil__heroBanner {
  background: url("../assets/pictures/accueil/fond_accueil_abeilles-mobile.png") no-repeat;
  background-size: cover;
  color: #ffffffff;
  height: 98vh;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#accueil__heroBanner h1 {
  font-size: 5rem;
  margin-bottom: 10%;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

#accueil__heroBanner h2 {
  font-size: 3rem;
  margin: 20px 0px;
  font-weight: 100;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__heroBanner {
    background: url("../assets/pictures/accueil/fond_accueil_abeilles.png") no-repeat;
    background-size: cover;
    text-align: left;
    min-height: 600px;
  }
  #accueil__heroBanner h1 {
    font-size: 2rem;
    margin: 0px 0px 40px 100px;
  }
  #accueil__heroBanner h2 {
    font-size: 1.6rem;
    margin-left: 120px;
  }
}

#accueil__frenchFlag {
  display: flex;
}

#accueil__frenchFlag-blue {
  background-color: blue;
}

#accueil__frenchFlag-white {
  background-color: white;
}

#accueil__frenchFlag-red {
  background-color: red;
}

#accueil__frenchFlag-blue, #accueil__frenchFlag-white, #accueil__frenchFlag-red {
  padding: 10px 0px 10px 0px;
  width: 33.3333333333%;
}

#accueil__anchor {
  position: sticky;
  z-index: 3;
  top: 85%;
  left: 95%;
  border: 3px solid #353232;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#accueil__anchor-arrow {
  width: 32px;
  height: 32px;
  border-top: 4px solid #353232;
  border-right: 4px solid #353232;
  transform: rotate(-45deg);
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__anchor {
    width: 50px;
    height: 50px;
  }
  #accueil__anchor-arrow {
    width: 16px;
    height: 16px;
  }
}

#accueil__description {
  font-size: 2.8rem;
  color: #ffca18ff;
  overflow-x: hidden;
  /*** Ruches ***/
  /*** Apiculteur ***/
}

#accueil__description-ruches {
  position: relative;
}

#accueil__description-ruches-where {
  margin: 400px 0px;
}

#accueil__description-ruches h3, #accueil__description-ruches-where {
  position: relative;
  z-index: 1;
}

#accueil__description-ruches img {
  position: absolute;
}

#accueil__description-ruches h3 {
  margin-top: 80px;
}

#accueil__description-ruches-background {
  background: url("../assets/pictures/accueil/fond_accueil_dessin-coline-mobile.png") no-repeat;
  background-size: cover;
  height: 90px;
}

#accueil__description-ruches-background-tournesol {
  left: 5px;
  bottom: 50px;
}

#accueil__description-ruches-background-ruche {
  right: 10px;
  top: 80px;
}

#accueil__description-ruches-background-abeille1 {
  left: 168px;
  bottom: 200px;
  animation: shake 2s ease-in-out infinite;
}

#accueil__description-ruches-background-abeille2 {
  left: 520px;
  bottom: 360px;
  transform: rotate(-18deg);
  width: 60px;
  height: 56px;
  animation: fly 12s infinite reverse;
}

#accueil__description-ruches-background-abeille3 {
  left: 560px;
  bottom: 140px;
  width: 55px;
  height: 51px;
  animation: fly 12s infinite;
}

#accueil__description-ruches-background-abeille4 {
  right: 620px;
  top: 100px;
  transform: rotate(18deg);
  width: 60px;
  height: 56px;
  animation: fly 17s ease-in-out infinite;
}

#accueil__description-ruches-background-abeille5 {
  right: 550px;
  top: 280px;
  width: 70px;
  height: 65px;
  animation: fly 10s ease-out infinite;
}

#accueil__description-ruches-background-abeille6 {
  right: 230px;
  top: 250px;
  transform: rotate(-25deg);
  width: 56px;
  height: 52px;
  animation: fly 13s ease-in infinite;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__description-ruches {
    font-size: 1.3rem;
  }
  #accueil__description-ruches > h3 {
    padding-left: 70px;
    text-align: left;
  }
  #accueil__description-ruches-background {
    background: url("../assets/pictures/accueil/fond_accueil_dessin-coline.png") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1300px) {
  #accueil__description-ruches-where {
    text-align: right;
    padding-right: 300px;
    margin: 0px 0px 100px 0px;
  }
}

#accueil__description-apiculteur {
  background-color: #44aa00ff;
  color: #ffffffff;
  padding-bottom: 100px;
}

#accueil__description-apiculteur p {
  font-size: 2.5rem;
}

#accueil__description-apiculteur h3, #accueil__description-apiculteur figure, #accueil__description-apiculteur p {
  padding-top: 60px;
}

#accueil__description-apiculteur h4 {
  font-weight: 100;
  margin-top: 10px;
}

#accueil__description-apiculteur-work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accueil__description-apiculteur-work figure {
  position: relative;
  width: 400px;
}

#accueil__description-apiculteur-work figure:hover #accueil__description-apiculteur-work-abeille1 {
  opacity: 100%;
  animation: shake 0.9s ease-in-out infinite;
}

#accueil__description-apiculteur-work figure:hover #accueil__description-apiculteur-work-abeille2 {
  opacity: 100%;
  animation: shake 0.8s ease-in-out infinite;
}

#accueil__description-apiculteur-work figure:hover #accueil__description-apiculteur-work-abeille3 {
  opacity: 100%;
  animation: shake 0.7s ease-in-out infinite;
}

#accueil__description-apiculteur-work-abeille1, #accueil__description-apiculteur-work-abeille2, #accueil__description-apiculteur-work-abeille3 {
  width: 55px;
  height: 51px;
  position: absolute;
  opacity: 0%;
}

#accueil__description-apiculteur-work-abeille1 {
  right: 0px;
  transform: rotate(5deg);
}

#accueil__description-apiculteur-work-abeille2 {
  left: 20px;
  top: 20px;
  transform: rotate(20deg);
}

#accueil__description-apiculteur-work-abeille3 {
  left: 0px;
  top: 120px;
}

#accueil__description-apiculteur-work p {
  width: 600px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__description-apiculteur {
    font-size: 1.3rem;
  }
  #accueil__description-apiculteur p {
    font-size: 1.2rem;
  }
  #accueil__description-apiculteur-desc img {
    width: 300px;
    height: 226px;
    margin-left: 50px;
  }
  #accueil__description-apiculteur-desc-card {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #accueil__description-apiculteur-work figure {
    width: 300px;
  }
  #accueil__description-apiculteur-work figure img:first-child {
    width: 133px;
    height: 158px;
  }
  #accueil__description-apiculteur-work p {
    width: 400px;
  }
}

@media (min-width: 1000px) {
  #accueil__description-apiculteur {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
}

#accueil__apiarie {
  background: url("../assets/pictures/accueil/fond_accueil_ruches-mobile.png") no-repeat center;
  background-size: cover;
  height: 1400px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__apiarie {
    background: url("../assets/pictures/accueil/fond_accueil_ruches.png") no-repeat center;
    background-size: cover;
    height: 700px;
  }
}

#accueil__pointsDeVente {
  background-color: #ffca18ff;
}

#accueil__pointsDeVente div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#accueil__pointsDeVente h2 {
  font-size: 5rem;
  color: #ffffffff;
  padding: 70px 0px 150px 0px;
}

#accueil__pointsDeVente figure:nth-child(1) {
  position: relative;
  width: 559px;
  height: 960px;
}

#accueil__pointsDeVente-map {
  width: 483px;
  height: 836px;
}

#accueil__pointsDeVente-map-point1, #accueil__pointsDeVente-map-point2, #accueil__pointsDeVente-map-point3, #accueil__pointsDeVente-map-point4, #accueil__pointsDeVente-map-point5, #accueil__pointsDeVente-map-point6, #accueil__pointsDeVente-map-point7, #accueil__pointsDeVente-map-point8 {
  position: absolute;
  width: 37px;
  height: 49px;
}

#accueil__pointsDeVente-map-point1:hover, #accueil__pointsDeVente-map-point2:hover, #accueil__pointsDeVente-map-point3:hover, #accueil__pointsDeVente-map-point4:hover, #accueil__pointsDeVente-map-point5:hover, #accueil__pointsDeVente-map-point6:hover, #accueil__pointsDeVente-map-point7:hover, #accueil__pointsDeVente-map-point8:hover {
  scale: 150%;
}

#accueil__pointsDeVente-map-point1 {
  top: 608px;
  left: 118px;
}

#accueil__pointsDeVente-map-point2 {
  top: 508px;
  left: 227px;
}

#accueil__pointsDeVente-map-point3 {
  top: 0px;
  left: -1px;
}

#accueil__pointsDeVente-map-point4 {
  top: -16px;
  left: 48px;
}

#accueil__pointsDeVente-map-point5 {
  top: 681px;
  left: 356px;
}

#accueil__pointsDeVente-map-point6 {
  top: 710px;
  left: 362px;
}

#accueil__pointsDeVente-map-point7 {
  top: 730px;
  left: 384px;
}

#accueil__pointsDeVente-map-point8 {
  top: 709px;
  left: 350px;
}

#accueil__pointsDeVente figure:nth-child(2) {
  position: relative;
  margin-bottom: 120px;
  width: 340px;
  height: 340px;
}

#accueil__pointsDeVente figure:nth-child(2):hover #accueil__pointsDeVente-cartTub {
  animation: fall-tub 2s cubic-bezier(0.8, 1.15, 0.9, 1.01);
}

#accueil__pointsDeVente figure:nth-child(2):hover #accueil__pointsDeVente-cart {
  animation: mouving-cart 2s cubic-bezier(0.84, 1.47, 0.9, 1.01);
}

#accueil__pointsDeVente-cart, #accueil__pointsDeVente-cartTub {
  position: absolute;
  left: 5px;
  bottom: 30px;
  width: 287px;
  height: 262px;
}

#accueil__pointsDeVente ul {
  font-size: 3rem;
}

#accueil__pointsDeVente ul a:hover {
  color: #ffffffff;
}

#accueil__pointsDeVente ul span {
  color: #ffffffff;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__pointsDeVente h2 {
    font-size: 2.4rem;
    padding: 50px 0px 0px 0px;
  }
  #accueil__pointsDeVente div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  #accueil__pointsDeVente div figure:nth-child(1) {
    width: 280px;
    height: 480px;
  }
  #accueil__pointsDeVente div figure:nth-child(2) {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
  }
  #accueil__pointsDeVente div ul {
    font-size: 1.3rem;
  }
  #accueil__pointsDeVente-map {
    width: 242px;
    height: 418px;
  }
  #accueil__pointsDeVente-map-point1, #accueil__pointsDeVente-map-point2, #accueil__pointsDeVente-map-point3, #accueil__pointsDeVente-map-point4, #accueil__pointsDeVente-map-point5, #accueil__pointsDeVente-map-point6, #accueil__pointsDeVente-map-point7, #accueil__pointsDeVente-map-point8 {
    width: 18px;
    height: 24px;
  }
  #accueil__pointsDeVente-map-point1 {
    top: 304px;
    left: 62px;
  }
  #accueil__pointsDeVente-map-point2 {
    top: 259px;
    left: 118px;
  }
  #accueil__pointsDeVente-map-point3 {
    top: 0px;
    left: -3px;
  }
  #accueil__pointsDeVente-map-point4 {
    top: -10px;
    left: 23px;
  }
  #accueil__pointsDeVente-map-point5 {
    top: 342px;
    left: 175px;
  }
  #accueil__pointsDeVente-map-point6 {
    top: 358px;
    left: 180px;
  }
  #accueil__pointsDeVente-map-point7 {
    top: 363px;
    left: 195px;
  }
  #accueil__pointsDeVente-map-point8 {
    top: 357px;
    left: 175px;
  }
  #accueil__pointsDeVente-cart, #accueil__pointsDeVente-cartTub {
    width: 160px;
    height: 146px;
  }
}

#accueil__honeyFlow {
  background: url("../assets/pictures/accueil/fond_accueil_dessin-miel-mobile.png") no-repeat center;
  background-size: cover;
  height: 486px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__honeyFlow {
    background: url("../assets/pictures/accueil/fond_accueil_dessin-miel.png") no-repeat center;
    background-size: cover;
    height: 389px;
  }
}

#accueil__pictogram {
  margin-bottom: 100px;
}

#accueil__pictogram h4 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 50px 0px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #accueil__pictogram {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  #accueil__pictogram div {
    text-align: center;
  }
  #accueil__pictogram h4 {
    font-size: 1.3rem;
  }
  #accueil__pictogram-honey {
    width: 134px;
    height: 197px;
  }
  #accueil__pictogram-bankCard {
    width: 221px;
    height: 123px;
  }
  #accueil__pictogram-cardboard {
    width: 176px;
    height: 203px;
  }
}
