/** Functions **/
/** Keyframes **/
@keyframes click-here {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(80vw);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  50% {
    transform: translateX(0px) translateY(0px) rotate(4deg);
  }
  75% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  100% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
}

@keyframes fall-tub {
  0% {
    transform: translateY(-100px);
  }
  40% {
    transform: translateY(-98px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes mouving-cart {
  0% {
    transform: translateX(-200px);
  }
  60% {
    transform: translateX(0px);
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/** Font family **/
@font-face {
  font-family: "BerlinSansFB";
  src: url("../assets/fonts/BRLNSR.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "BerlinSansFB";
}

/** Style **/
ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000000ff;
}

figure, body {
  margin: 0;
}

/** Font-size **/
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

ul, h4 {
  font-size: 1.2rem;
}

* {
  font-size: 1.1rem;
}

/**** Anchor****/
html {
  scroll-behavior: smooth;
}

.anchor {
  position: sticky;
  z-index: 3;
  top: 85%;
  left: 96%;
  border: 3px solid #353232;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-bottom: -55px;
}

.anchor__arrow {
  width: 12px;
  height: 12px;
  border-top: 4px solid #353232;
  border-right: 4px solid #353232;
  transform: rotate(-45deg);
}

/*** Product ***/
.product {
  text-align: center;
}

.product h3 {
  font-size: 1.1rem;
}

.product img {
  width: 180px;
  height: 225px;
  margin-bottom: -120px;
}

.product__description {
  width: 200px;
  border-radius: 20px;
  padding: 120px 20px 20px 20px;
}

.product__description-inputs {
  justify-content: space-around;
  font-size: 0.9rem;
}

.product [type="image"] {
  width: 25px;
  height: 34px;
}

.product [type="image"]:active {
  opacity: .5;
}

.product:hover div {
  background-color: #ffca18ff;
}

.product:hover [type="button"] {
  color: #000000ff;
  border: 3px solid #000000ff;
}

.product:hover [type="button"]:active {
  background-color: #000000ff;
  color: #ffffffff;
}

/*** Button ***/
[type="button"], [type="submit"] {
  background-color: transparent;
  color: #44aa00ff;
  padding: 5px 30px;
  border: 3px solid #44aa00ff;
}

[type="button"]:hover, [type="submit"]:hover {
  cursor: pointer;
}

[type="button"]:active, [type="submit"]:active {
  background-color: #44aa00ff;
  color: #ffffffff;
}

/***Input field ***/
.inputField {
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 2px solid #ffca18ff;
  padding: 5px;
}

.inputField:focus {
  border-bottom: 2px solid #44aa00ff;
}

.inputField:focus:invalid {
  border-bottom: 2px solid red;
}

/*** Textarea ***/
textarea {
  border: 2px solid #ffca18ff;
  border-radius: 10px;
  resize: none;
  background-color: transparent;
  padding: 5px;
  height: 200px;
}

textarea:focus {
  border: 2px solid #44aa00ff;
  outline: 0;
}

/*** Form ***/
form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 1px 1px 1px gray;
  padding: 20px;
}

form span {
  color: #ffca18ff;
}

form a {
  color: #44aa00ff;
}

form a:hover {
  color: #ffca18ff;
}

form label, form [type="submit"], form div {
  margin: 20px 0px 5px 0px;
}

form .checkbox-label {
  margin: 0px 10px;
  font-size: 0.9rem;
}

form .checkbox-label a {
  font-size: 0.9rem;
}

form [type="submit"] {
  color: #000000ff;
  border: 3px solid #ffca18ff;
  width: 200px;
  align-self: center;
}

form [type="submit"]:active {
  background-color: #ffca18ff;
}

@media (min-width: 800px) and (orientation: landscape) {
  form form {
    padding: 20px 40px;
  }
}

/*** Selling point map ***/
/**** ANIMATIONS ****/
/*** Bee animation ***/
/**
*Put  overflow-x: hidden;  in the container to hide the scrollbar caused by the animation of the bees.
**/
/*** Hive animation ***/
/*** Sunflower animation ***/
/*** Beekeeper animation ***/
/*** Cart animation ***/
/*** Position ***/
header, #header__image > a img, #footer-text {
  position: relative;
  z-index: 2;
}

/*** Flexbox ***/
.product__description-inputs, #header__image, .learnMore__price, .learnMore__caract {
  display: flex;
  align-items: center;
}

.shop-title {
  display: flex;
  justify-content: center;
}

#footer-link, .learnMore__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #ffffffff;
  width: 100%;
  border-bottom: 6px solid #ffca18ff;
}

@media (min-width: 800px) and (orientation: landscape) {
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

#header__image {
  justify-content: space-around;
  margin: 20px 0px;
}

#header__image > a img {
  width: 121px;
  height: 57px;
}

#header__image-picto {
  white-space: nowrap;
}

#header__image-picto-compte {
  width: 36px;
  height: 43px;
}

#header__image-picto-compte:hover {
  background: url(../assets/pictures/header/picto_compte-active.webp) no-repeat center;
}

#header__image-picto-panier {
  width: 29px;
  height: 40px;
}

#header__image-picto-panier:hover {
  background: url(../assets/pictures/header/picto_panier-active.webp) no-repeat center;
}

#header__image-picto a:last-child {
  margin-left: 20px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #header__image {
    justify-content: space-between;
    width: 50%;
  }
  #header__image > a img {
    width: 173px;
    height: 82px;
    margin-left: -86px;
  }
  #header__image-picto a:last-child {
    margin-right: 60px;
  }
}

#header__link {
  display: flex;
  justify-content: space-evenly;
}

#header__link a {
  margin: 20px 0px;
  font-weight: bold;
}

#header__link a:hover {
  color: #ffca18ff;
}

@media (min-width: 800px) and (orientation: landscape) {
  #header__link {
    justify-content: left;
    align-items: center;
    width: 50%;
  }
  #header__link a:first-child {
    margin-right: 20px;
    margin-left: 60px;
  }
}

footer {
  background-color: #ffca18ff;
  position: relative;
}

#footer-text {
  text-align: center;
}

#footer-text a:hover {
  color: #ffffffff;
}

#footer-link ul {
  padding: 0px;
}

#footer-link ul li {
  margin: 10px 0px;
}

#footer-link ul:first-child {
  white-space: nowrap;
}

#footer-link ul:first-child img {
  width: 20px;
  height: 19px;
}

#footer-link ul:first-child a:hover img {
  opacity: .5;
}

#footer-link__rod {
  border-bottom: 3px solid #000000ff;
  width: 30%;
}

@media (min-width: 800px) and (orientation: landscape) {
  #footer-link {
    flex-direction: row;
    justify-content: center;
  }
  #footer-link ul:first-child {
    margin-right: 40px;
  }
  #footer-link ul:last-child {
    margin-left: 40px;
    text-align: left;
  }
  #footer-link__rod {
    border-right: 3px solid #000000ff;
    width: 0%;
    height: 100px;
  }
}

#network-copyright {
  padding: 30px 0px 10px 0px;
}

#network-copyright figure {
  margin-bottom: 40px;
}

#network-copyright figure img {
  width: 30px;
  height: 30px;
}

#network-copyright figure a:hover img {
  opacity: .5;
}

#network-copyright p {
  font-size: 0.9rem;
}

@media (min-width: 800px) and (orientation: landscape) {
  #network-copyright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }
  #network-copyright figure {
    margin-bottom: 0px;
  }
  #network-copyright p {
    align-items: flex-end;
  }
}

#dessinAcacia {
  position: absolute;
  width: 114.5px;
  height: 131px;
  right: 0px;
  top: 40px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #dessinAcacia {
    width: 163.57143px;
    height: 187.14286px;
    top: 5px;
  }
}

#dessinRonce {
  position: absolute;
  width: 110px;
  height: 94px;
  left: 0px;
  bottom: 40px;
}

@media (min-width: 800px) and (orientation: landscape) {
  #dessinRonce {
    width: 183.33333px;
    height: 156.66667px;
    bottom: 5px;
  }
}

.shop-title:first-child {
  margin-top: 60px;
}

.shop-title .cart-animation {
  position: relative;
  width: 80px;
  height: 80px;
}

.shop-title .cart-animation__cart, .shop-title .cart-animation__tub {
  position: absolute;
  left: 1.17647px;
  bottom: 7.0609px;
  width: 67.79661px;
  height: 61.53846px;
}

.shop-title .cart-animation:hover .cart-animation__tub {
  animation: fall-tub 2s cubic-bezier(0.8, 1.15, 0.9, 1.01);
}

.shop-title .cart-animation:hover .cart-animation__cart {
  animation: mouving-cart 2s cubic-bezier(0.84, 1.47, 0.9, 1.01);
}

@media (min-width: 800px) and (orientation: landscape) {
  .shop-title {
    justify-content: flex-start;
    margin-left: 100px;
  }
}

#miels, #bougies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#miels .product, #bougies .product {
  margin: 40px 40px;
}

.learnMore {
  background: rgba(255, 255, 255, 0.919);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  overflow: scroll;
}

.learnMore__img img {
  width: 324px;
  height: 405px;
}

.learnMore__price {
  justify-content: space-evenly;
  color: #44aa00ff;
}

.learnMore__desc {
  padding: 20px;
}

.learnMore__caract {
  justify-content: space-evenly;
  color: #44aa00ff;
}

.learnMore [type="image"] {
  width: 31px;
  height: 41px;
}

.learnMore [type="image"]:active {
  opacity: .5;
}

@media (min-width: 800px) and (orientation: landscape) {
  .learnMore {
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    position: fixed;
  }
  .learnMore__desc {
    width: 30%;
  }
}

.learnMore__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.learnMore__cross img {
  width: 30px;
  height: 30px;
}

@media (min-width: 800px) and (orientation: landscape) {
  .learnMore__cross {
    top: 50px;
    right: 50px;
  }
}
