/** Functions **/
/** Keyframes **/
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fly {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(80vw);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
  25% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  50% {
    transform: translateX(0px) translateY(0px) rotate(4deg);
  }
  75% {
    transform: translateX(-2.5px) translateY(2.5px) rotate(2deg);
  }
  100% {
    transform: translateX(-5px) translateY(5px) rotate(0deg);
  }
}

@keyframes fall-tub {
  0% {
    transform: translateY(-100px);
  }
  40% {
    transform: translateY(-98px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes mouving-cart {
  0% {
    transform: translateX(-200px);
  }
  60% {
    transform: translateX(0px);
  }
}

/** Font family **/
@font-face {
  font-family: "BerlinSansFB";
  src: url("../assets/fonts/BRLNSR.woff") format("woff");
  font-display: swap;
}

* {
  font-family: "BerlinSansFB";
}

/** Style **/
ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000000ff;
}

figure, body {
  margin: 0;
}

/**** Anchor****/
.anchor {
  position: sticky;
  z-index: 3;
  top: 85vh;
  left: 95vw;
  border: 3px solid #353232;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -55px;
}

.anchor__arrow {
  width: 12px;
  height: 12px;
  border-top: 4px solid #353232;
  border-right: 4px solid #353232;
  transform: rotate(-45deg);
}

/*** Product ***/
.product {
  text-align: center;
}

.product h3, .product p, .product input {
  font-size: 1.1rem;
}

.product img {
  width: 180px;
  height: 225px;
  margin-bottom: -120px;
}

.product__description {
  width: 200px;
  border-radius: 20px;
  padding: 120px 20px 20px 20px;
}

.product__description-inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product [type="image"] {
  width: 25px;
  height: 34px;
}

.product [type="image"]:active {
  opacity: .5;
}

.product:hover div {
  background-color: #ffca18ff;
}

.product:hover [type="button"] {
  color: #000000ff;
  border: 3px solid #000000ff;
}

.product:hover [type="button"]:active {
  background-color: #000000ff;
  color: #ffffffff;
}

/*** Button ***/
[type="button"], [type="submit"] {
  background-color: transparent;
  color: #44aa00ff;
  padding: 5px 30px;
  border: 3px solid #44aa00ff;
}

[type="button"]:hover, [type="submit"]:hover {
  cursor: pointer;
}

[type="button"]:active, [type="submit"]:active {
  background-color: #44aa00ff;
  color: #ffffffff;
}

/***Input field ***/
.inputField {
  background-color: transparent;
  outline: 0;
  border: none;
  border-bottom: 2px solid #ffca18ff;
  padding: 5px;
}

.inputField:focus {
  border-bottom: 2px solid #44aa00ff;
}

.inputField:focus:invalid {
  border-bottom: 2px solid red;
}

/*** Textarea ***/
textarea {
  border: 2px solid #ffca18ff;
  border-radius: 10px;
  resize: none;
  background-color: transparent;
  padding: 5px;
}

textarea:focus {
  border: 2px solid #44aa00ff;
  outline: 0;
}

header {
  background-color: #ffffffff;
  position: relative;
  z-index: 2;
  width: 100%;
  border-bottom: 6px solid #ffca18ff;
}

header #header__image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
}

header #header__image > a img {
  position: relative;
  z-index: 2;
  width: 121px;
  height: 57px;
}

header #header__image-picto {
  white-space: nowrap;
}

header #header__image-picto-compte {
  width: 36px;
  height: 43px;
}

header #header__image-picto-compte:hover {
  background: url(../assets/pictures/header/picto_compte-active.webp) no-repeat center;
}

header #header__image-picto-panier {
  width: 29px;
  height: 40px;
}

header #header__image-picto-panier:hover {
  background: url(../assets/pictures/header/picto_panier-active.webp) no-repeat center;
}

header #header__image-picto a:last-child {
  margin-left: 20px;
}

header #header__link {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

header #header__link a:hover {
  color: #ffca18ff;
}

@media (min-width: 800px) and (orientation: landscape) {
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  header #header__image {
    justify-content: space-between;
    width: 50%;
  }
  header #header__image > a img {
    width: 173px;
    height: 82px;
    margin-left: -86px;
  }
  header #header__image-picto a:last-child {
    margin-right: 60px;
  }
  header #header__link {
    justify-content: left;
    align-items: center;
    width: 50%;
  }
  header #header__link a:first-child {
    margin-right: 20px;
    margin-left: 60px;
  }
}

footer {
  background-color: #ffca18ff;
  position: relative;
  /**Flowers background **/
  /****/
}

footer #dessinAcacia {
  position: absolute;
  width: 114.5px;
  height: 131px;
  right: 0px;
  top: 40px;
}

footer #dessinRonce {
  position: absolute;
  width: 110px;
  height: 94px;
  left: 0px;
  bottom: 40px;
}

footer #footer {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 1.2rem;
}

footer #footer a:hover {
  color: #ffffffff;
}

footer #footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #footer__link ul {
  padding: 0px;
}

footer #footer__link ul li {
  margin: 10px 0px;
}

footer #footer__link ul:first-child {
  white-space: nowrap;
}

footer #footer__link ul:first-child img {
  width: 20px;
  height: 19px;
}

footer #footer__link ul:first-child a:hover img {
  opacity: .5;
}

footer #footer__link-rod {
  border-bottom: 3px solid #000000ff;
  width: 30%;
}

footer #footer__networkCopyright {
  font-size: 0.9rem;
  padding: 30px 0px 10px 0px;
}

footer #footer__networkCopyright figure {
  margin-bottom: 40px;
}

footer #footer__networkCopyright figure img {
  width: 30px;
  height: 30px;
}

footer #footer__networkCopyright figure a:hover img {
  opacity: .5;
}

@media (min-width: 800px) and (orientation: landscape) {
  footer {
    /**Flowers background **/
    /****/
  }
  footer #dessinAcacia {
    width: 163.57143px;
    height: 187.14286px;
    top: 5px;
  }
  footer #dessinRonce {
    width: 183.33333px;
    height: 156.66667px;
    bottom: 5px;
  }
  footer #footer__link {
    flex-direction: row;
    justify-content: center;
  }
  footer #footer__link ul:first-child {
    margin-right: 40px;
  }
  footer #footer__link ul:last-child {
    margin-left: 40px;
    text-align: left;
  }
  footer #footer__link-rod {
    border-right: 3px solid #000000ff;
    width: 0%;
    height: 100px;
  }
  footer #footer__networkCopyright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }
  footer #footer__networkCopyright figure {
    margin-bottom: 0px;
  }
  footer #footer__networkCopyright p {
    align-items: flex-end;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  /** Cf utils for function and keyframes **/
  /**
*The variable is used to choose a size, 
*then thanks to the size() function all the measurements in px are resized to remain proportional.
**/
}

#contact h1 {
  font-size: 2rem;
  margin-top: 50px;
}

#contact .sunflower-animation {
  width: 100px;
  height: 100px;
  position: relative;
}

#contact .sunflower-animation__sunflower {
  position: absolute;
  width: 54.64481px;
  height: 90.90909px;
  left: 6.66667px;
  bottom: -1px;
}

#contact .sunflower-animation__bee {
  position: absolute;
  width: 31.64557px;
  height: 29.67359px;
  right: 20px;
  top: 13.33333px;
  animation: shake 2s ease-in-out infinite;
}

#contact figure {
  margin-right: 50%;
}

#contact form {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 40px;
  box-shadow: 1px 1px 1px gray;
  padding: 20px;
  width: 90%;
  margin-bottom: 50px;
}

#contact form span {
  color: #ffca18ff;
}

#contact form a {
  color: #44aa00ff;
}

#contact form a:hover {
  color: #ffca18ff;
}

#contact form label, #contact form [type="submit"], #contact form div {
  margin: 20px 0px 5px 0px;
}

#contact form div label {
  font-size: 1rem;
}

#contact form [type="submit"] {
  color: #000000ff;
  border: 3px solid #ffca18ff;
  width: 200px;
  align-self: center;
}

#contact form [type="submit"]:active {
  background-color: #ffca18ff;
}

@media (min-width: 800px) and (orientation: landscape) {
  #contact figure {
    margin-right: 500px;
  }
  #contact form {
    width: 600px;
    padding: 20px 40px;
  }
}
