/** Cf utils for function and keyframes **/

/**
*The variable is used to choose a size, 
*then thanks to the size() function all the measurements in px are resized to remain proportional.
**/

.beekeeper-animation{
    width: $sizebeekeeperAnim;
    height: $sizebeekeeperAnim;
    position: relative;
    background-color: $colorSecondary;
    border-radius: resize($sizebeekeeperAnim, 2);
    display: flex;
    justify-content: center;
    align-items: center;

    img:first-child{
        width: resize($sizebeekeeperAnim, 1.77);
        height: resize($sizebeekeeperAnim, 1.49);
    }

    &__abeille1, &__abeille2, &__abeille3 {    //hidden bees for hover animation
        width: resize($sizebeekeeperAnim, 7.27);
        height: resize($sizebeekeeperAnim, 7.84);
        position: absolute;
        opacity: 0;
    }
    
    &__abeille1{
        right: resize($sizebeekeeperAnim, 26.67);
        transform: rotate(5deg);
    }
    
    &__abeille2{
        left: resize($sizebeekeeperAnim, 8.51);
        top: resize($sizebeekeeperAnim, 1.61);
        transform: rotate(20deg);
    }
    
    &__abeille3{
        left: resize($sizebeekeeperAnim, 17.39);
        top: resize($sizebeekeeperAnim, 3.33);
    }

    &:hover{
        .beekeeper-animation__abeille1{
            opacity: 1;
            animation: shake 0.9s ease-in-out infinite;
        }

        .beekeeper-animation__abeille2{
            opacity: 1;
            animation: shake 0.8s ease-in-out infinite;
        }

        .beekeeper-animation__abeille3{
            opacity: 1;
            animation: shake 0.7s ease-in-out infinite;
        }
    }
}