/** Cf utils for function and keyframes **/

/**
*The variable is used to choose a size, 
*then thanks to the size() function all the measurements in px are resized to remain proportional.
**/

/**
*Put  overflow-x: hidden;  in the container to hide the scrollbar caused by the animation of the bees.
**/

$flyDuration1: 9s + random(7s);
$flyDuration2: 12s + random(5s);
$flyDuration3: 5s + random(7s);

.bee-animation{
    width: $sizeBeeAnim;
    height: $sizeBeeAnim;
    position: relative;

    &__bee1, &__bee2, &__bee3{
        position: absolute;
        width: resize($sizeBeeAnim, 3.16);
        height: resize($sizeBeeAnim, 3.37);
        right: 50%;
    }

    &__bee1{
        top: resize($sizeBeeAnim, 75);
        animation: fly $flyDuration1 infinite;
    }
    &__bee2{
        top: resize($sizeBeeAnim, 2.88);
        animation: fly $flyDuration2 infinite reverse;
    }
    &__bee3{
        top: resize($sizeBeeAnim, 1.5);
        animation: fly $flyDuration3 infinite;
    }
}

