/** Cf utils for function and keyframes **/

/**
*The variable is used to choose a size, 
*then thanks to the size() function all the measurements in px are resized to remain proportional.
**/

.cart-animation{
    position: relative;
    width: $sizeCartAnim;
    height: $sizeCartAnim;

    &__cart, &__tub{
       position: absolute;
        left: resize($sizeCartAnim, 68);
        bottom: resize($sizeCartAnim, 11.33);
        width: resize($sizeCartAnim, 1.18);
        height: resize($sizeCartAnim, 1.30); 
    }

    &:hover{                                 //cf utils
        .cart-animation__tub{
            animation: fall-tub 2s cubic-bezier(.8,1.15,.9,1.01);
        }

        .cart-animation__cart{
                animation: mouving-cart 2s cubic-bezier(.84,1.47,.9,1.01);
        }
    }
}