/**** Anchor****/

.anchor{
    position: sticky;
    z-index: 3;
    top: 85vh;
    left: 95vw;
    border: 3px solid rgb(53, 50, 50);  
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -55px; //remove space

    &__arrow{
        width: 12px;
        height: 12px;
        border-top: 4px solid rgb(53, 50, 50);
        border-right: 4px solid rgb(53, 50, 50);
        transform: rotate(-45deg);
    }
}

/*** Product ***/

.product{
    text-align: center;

    h3, p, input{
        font-size: 1.1rem;
    }

    img{
        width: 180px;
        height: 225px;
        margin-bottom: -120px; //to compensate description's padding
    }

    &__description{
        width: 200px;
        border-radius: 20px;
        padding: 120px 20px 20px 20px;

        &-inputs{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    [type="image"]{
        width: 25px;
        height: 34px;

        &:active{
            opacity: .5;
        }
    }

    &:hover{
        div{
            background-color: $colorPrimary;
        }

        [type="button"]{
            color: $Black;
            border: 3px solid $Black;

            &:active{
                background-color: $Black;
                color: $White;
            }
        }
    }
}

/*** Button ***/

[type="button"]{
    background-color: transparent;
    color: $colorSecondary;
    padding: 5px 30px;
    border: 3px solid $colorSecondary;
  
    &:hover{
      cursor: pointer;
    }
  
    &:active{
        background-color: $colorSecondary;
        color: $White;
    }
}





