/**** Anchor****/

.anchor{
    position: sticky;
    z-index: 3;
    top: 85vh;
    left: 95vw;
    border: 3px solid rgb(53, 50, 50);  
    border-radius: 20px;
    width: 40px;
    height: 40px;
    @extend %flex-justifyContentsCenter-alignItemsCenter;
    margin-bottom: -55px; //remove space

    &__arrow{
        width: 12px;
        height: 12px;
        border-top: 4px solid rgb(53, 50, 50);
        border-right: 4px solid rgb(53, 50, 50);
        transform: rotate(-45deg);
    }
}

/*** Product ***/

.product{
    text-align: center;

    h3{
        font-size: 1.1rem;
    }

    img{
        width: 180px;
        height: 225px;
        margin-bottom: -120px; //to compensate description's padding
    }

    &__description{
        width: 200px;
        border-radius: 20px;
        padding: 120px 20px 20px 20px;

        &-inputs{
            @extend %flex-alignItemsCenter;
            justify-content: space-around;
            font-size: 0.9rem;
        }
    }

    [type="image"]{
        width: 25px;
        height: 34px;

        &:active{
            opacity: .5;
        }
    }

    &:hover{
        div{
            background-color: $colorPrimary;
        }

        [type="button"]{
            color: $Black;
            border: 3px solid $Black;

            &:active{
                background-color: $Black;
                color: $White;
            }
        }
    }
}

/*** Button ***/

[type="button"], [type="submit"]{
    background-color: transparent;
    color: $colorSecondary;
    padding: 5px 30px;
    border: 3px solid $colorSecondary;
  
    &:hover{
      cursor: pointer;
    }
  
    &:active{
        background-color: $colorSecondary;
        color: $White;
    }
}

/***Input field ***/

.inputField{
    background-color: transparent;
    outline: 0;                   //remove shadow
    border: none;
    border-bottom: 2px solid $colorPrimary;
    padding: 5px;
  
    &:focus{
        border-bottom: 2px solid $colorSecondary;
        
        &:invalid{
            border-bottom: 2px solid red;
        }
    } 
}

/*** Textarea ***/

textarea{
    border: 2px solid $colorPrimary;
    border-radius: 10px;
    resize: none;
    background-color: transparent;
    padding: 5px;
    height: 200px;

    &:focus{
      border: 2px solid $colorSecondary;
      outline: 0;                   //remove shadow
    }
}

/*** Form ***/

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 40px;
    box-shadow: 1px 1px 1px gray;
    padding: 20px;

    span{                       //span for *
        color: $colorPrimary;
    }

    a{
        color: $colorSecondary;

        &:hover{
            color: $colorPrimary;
        }
    }

    label, [type="submit"], div {
        margin: 20px 0px 5px 0px;
    }

    .checkbox-label{
        margin: 0px 10px;
        font-size: 0.9rem;
    
        a{
            font-size: 0.9rem;
        }
    }

    [type="submit"]{
        color: $Black;
        border: 3px solid $colorPrimary;
        width: 200px;
        align-self: center;

        &:active{
            background-color: $colorPrimary;
        }
    }

    @media (min-width: 800px) and (orientation: landscape){
        form{
            padding: 20px 40px;
        }
    }
}




