/** Font family **/

@font-face {
  font-family: "BerlinSansFB";
  src: url("../assets/fonts/BRLNSR.woff") format("woff");
  font-display: swap;
}

* {                                
    font-family: "BerlinSansFB";
}

/** Style **/

ul{
  list-style: none;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: $Black;
}

figure, body{
  margin: 0;
}