@import "../utils/utils";
@import "../base/base";
@import "../layouts/header"; 
@import "../layouts/footer";

#accueil{
    position: relative;
    text-align: center;

    /*** Hero Baner ***/

    &__heroBanner{
        background: url("../assets/pictures/accueil/fond_accueil_abeilles-mobile.png") no-repeat;
        background-size: cover;
        color: $White;
        height: 98vh;
        min-height: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: center; 

        h1{
            font-size: 5rem;
            margin-bottom: 10%;
            animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;      //cf utils
        }
        h2{
            font-size: 3rem;
            margin: 20px 0px;
            font-weight: 100;
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;          //cf utils
        }
        @media (min-width: 800px) and (orientation: landscape){
            background: url("../assets/pictures/accueil/fond_accueil_abeilles.png") no-repeat; //change of image for computer format layout
            background-size: cover;
            text-align: left;
            min-height: 600px;

            h1{
                font-size: 2rem;
                margin: 0px 0px 40px 100px;
            }

            h2{
                font-size: 1.6rem;
                margin-left: 120px;
            }
        }
    }

    /*** French Flag ***/

    &__frenchFlag{            //line between heroBanner and description
        display: flex;
        &-blue{
            background-color: blue;
        }
        &-white{
            background-color: white;
        }
        &-red{
            background-color: red;
        }
        &-blue, &-white, &-red{
            padding: 10px 0px 10px 0px;
            width: 33.3333333333%;
        }
    }

    &__description{
        font-size: $fontMedium;
        color: $colorPrimary;
        overflow-x: hidden;            //to hide the scrollbar caused by the animation of the bees
        &-ruches{
            position: relative;
            &-where{
                margin: 400px 0px 400px 0px;
            }
            h3, &-where{
                position: relative;
                z-index: 1;
            }
            img{
                position: absolute; 
            }
            h3{
                margin-top: 80px;
            }
            &-background{
                background: url("../assets/pictures/accueil/fond_accueil_dessin-coline-mobile.png") no-repeat;
                background-size: cover;
                height: 90px;
                &-tournesol{
                    left: 5px;
                    bottom: 50px;
                }
                &-ruche{
                    right: 10px;
                    top: 80px;
                }
                &-abeille1{                         //changed size, direction, rotation, speed and animation effect between bees to add life to animations
                    left: 168px;
                    bottom: 200px;
                    animation: shake 2s ease-in-out infinite;              //cf utils
                }
                &-abeille2{
                    left: 520px;
                    bottom: 360px;
                    transform: rotate(-18deg);
                    width: 60px;
                    height: 56px;
                    animation: fly 12s infinite reverse;                     
                }
                &-abeille3{
                    left: 560px;
                    bottom: 140px;
                    width: 55px;
                    height: 51px;
                    animation: fly 12s infinite;                            
                }
                &-abeille4{
                    right: 620px;
                    top: 100px;
                    transform: rotate(18deg);
                    width: 60px;
                    height: 56px;
                    animation: fly 17s ease-in-out infinite;                  
                }
                &-abeille5{
                    right: 550px;
                    top: 280px;
                    width: 70px;
                    height: 65px;
                    animation: fly 10s ease-out infinite;
                }
                &-abeille6{
                    right: 230px;
                    top: 250px;
                    transform: rotate(-25deg);
                    width: 56px;
                    height: 52px;
                    animation: fly 13s ease-in infinite;
                }
            }
            @media (min-width: 800px) and (orientation: landscape){
                font-size: $fontSmall;
                > h3{
                    padding-left: 70px;
                    text-align: left;
                }
                &-background{
                    background: url("../assets/pictures/accueil/fond_accueil_dessin-coline.png") no-repeat; //change of image for computer format layout
                    background-size: cover;
                }
            }
            @media (min-width: 1300px){    //so bees don't touch each other if animation is stopped
                &-where{
                    text-align: right;
                    padding-right: 300px;
                    margin: 0px 0px 100px 0px;
                }
            }
        }
        &-apiculteur{
            background-color: $colorSecondary;
            color: $White;
            padding-bottom: 100px;
            h3, figure, p{
                padding-top: 60px;
            }
            h4{
                font-weight: 100;
                margin-top: 10px;
            }
            &-work{
                display: flex;
                flex-direction: column;
                align-items: center;
                figure{
                    position: relative;
                    width: 300px;
                    &:hover{
                        #accueil__description-apiculteur-work-abeille1{
                            opacity: 100%;
                            animation: shake 0.9s ease-in-out infinite;
                        } 
                        #accueil__description-apiculteur-work-abeille2{
                            opacity: 100%;
                            animation: shake 0.8s ease-in-out infinite;
                        }
                        #accueil__description-apiculteur-work-abeille3{
                            opacity: 100%;
                            animation: shake 0.7s ease-in-out infinite;
                        }
                    }
                }
                &-abeille1, &-abeille2, &-abeille3 {    //hidden bees for hover animation
                    width: 55px;
                    height: 51px;
                    position: absolute;
                    opacity: 0%;
                }
                &-abeille1{
                    right: 0px;
                    transform: rotate(5deg);
                }
                &-abeille2{
                    left: 20px;
                    top: 20px;
                    transform: rotate(20deg);
                }
                &-abeille3{
                    left: 0px;
                    top: 120px;
                }
            }
            @media (min-width: 800px) and (orientation: landscape){
                font-size: $fontSmall;
                &-desc{
                    img{
                        width: 300px;
                        height: 226px;
                        margin-left: 50px;
                    }
                    &-card{
                        text-align: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            @media (min-width: 1000px){
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-evenly;
            }
        }
    }

    &__apiarie{
        background: url("../assets/pictures/accueil/fond_accueil_ruches-mobile.png") no-repeat center;
        background-size: cover;
        height: 1000px;
        @media (min-width: 800px) and (orientation: landscape){
            background: url("../assets/pictures/accueil/fond_accueil_ruches.png") no-repeat center;  //change of image for computer format layout
            background-size: cover;
            height: 700px;
        }
    }

    &__pointsDeVente{
        background-color: $colorPrimary;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2{
            font-size: $fontLarge;
            color: $White;
            padding: 70px 0px 150px 0px;
        }
        figure{
            margin-bottom: 80px;
        }
        figure:nth-child(1){   //map and location points
            position: relative;
            width: 280px;
            height: 480px;
        }
        &-map{
            &-point1, &-point2, &-point3, &-point4, &-point5, &-point6, &-point7, &-point8{
                position: absolute;
                &:hover{
                    scale: 150%;
                }
            }
            &-point1{
                top: 335px;
                left: 50px;
            }
            &-point2{
                top: 284px;
                left: 110px;
            }
            &-point3{
                top: 0px;
                left: -20px;
            }
            &-point4{
                top: -10px;
                left: 8px;
            }
            &-point5{
                top: 382px;
                left: 175px;
            }
            &-point6{
                top: 395px;
                left: 180px;
            }
            &-point7{
                top: 405px;
                left: 195px;
            }
            &-point8{
                top: 393px;
                left: 175px;
            }
        }
        figure:nth-child(2){   //cart
            position: relative;
            width: 160px;
            height: 200px;
            &:hover{                                 //cf utils
                #accueil__pointsDeVente-cartTub{
                    animation: fall-tub 2s cubic-bezier(.8,1.15,.9,1.01);
                }
                #accueil__pointsDeVente-cart{
                    animation: mouving-cart 2s cubic-bezier(.84,1.47,.9,1.01);
                }
            }
        }
        &-cart{
            position: absolute;
            left: 5px;
            bottom: 30px;
        }
        &-cartTub{
            position: absolute;
            left: 5px;
            bottom: 30px;
        }
        ul{
            font-size: $fontMedium;
            a:hover{
                color: $White;
            }    
            span{
                color: $White;
            }
        }
        @media (min-width: 800px) and (orientation: landscape){
            h2{
                font-size: 2.4rem;
                padding: 50px 0px 0px 0px;
            }
            div{
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                figure{
                    margin-bottom: 0px;
                }
                
                ul{
                    font-size: $fontSmall;
                }
            }
        }
    }

    &__honeyFlow{
        background: url("../assets/pictures/accueil/fond_accueil_dessin-miel-mobile.png") no-repeat center;
        background-size: cover;
        height: 486px;
        @media (min-width: 800px) and (orientation: landscape){
            background: url("../assets/pictures/accueil/fond_accueil_dessin-miel.png") no-repeat center; //change of image for computer format layout
            background-size: cover;
            height: 389px;
        }
    }

    &__pictogram{
        margin-bottom: 100px;
        h4{
            font-weight: 100;
            margin: 50px 0px 50px 0px;
        }
        @media (min-width: 800px) and (orientation: landscape){
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
            div{
                text-align: center;
            }
            &-honey{       //proportional reduction
                width: 134px;
                height: 197px;
            }
            &-bankCard{       //proportional reduction
                width: 221px;
                height: 123px;
            }
            &-cardboard{       //proportional reduction
                width: 176px;
                height: 203px;
            }
        }
    }
}












