@import "../utils/utils";
@import "../vendors/normalize";
@import "../base/base";
@import "../components/componets";
@import "../components/mixins";
@import "../components/placeholders";
@import "../layouts/header"; 
@import "../layouts/footer"; 

.shop-title{
    @extend %flex-justifyContentsCenter;

    &:first-child{      
        margin-top: 60px;
    }

    @include cart-animation(80px);

    @media (min-width: 800px) and (orientation: landscape){
        justify-content: flex-start;
        margin-left: 100px;
    }
}

#miels, #bougies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .product{
        margin: 40px 40px;
    }
}