@import "../utils/utils";
@import "../base/base";
@import "../components/componets";
@import "../layouts/header"; 
@import "../layouts/footer";

#compte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px;

    h2{
        margin-left: 20px;
    }
    
    form{
        div label{    //label checkbox
            margin: 0;
            font-size: 0.9rem;
        }

    }

    &__login, &__register{
        width: 100%;

        div{
           display: flex;

           h2{
            margin-right: 80px;
           }
        }
    }

    &__register{
        margin-top: 50px;
    }

    $sizeSunflowerAnim: 100px;
    $sizeHiveAnim: 100px;
    @import "../components/sunflower-animation";
    @import "../components/hive-animation";

    .hive-animation{
        margin-top: 15px;
        margin-bottom: -15px;
    }

    
    
    @media (min-width: 800px) and (orientation: landscape){
        &__login, &__register{
            margin-top: 0;
            width: 400px;
        }

        &__login{
            margin-right: 50px;
        }

    }
}
