@import "../utils/utils";
@import "../vendors/normalize";
@import "../base/base";
@import "../components/componets";
@import "../components/mixins";
@import "../components/placeholders";
@import "../layouts/header"; 
@import "../layouts/footer"; 

#body{
    @extend %flex-justifyContentsCenter;
    flex-wrap: wrap;
    margin: 50px 0px;  
}

h2{
    margin-left: 20px;
}

@include sunflower-animation(100px);
@include hive-animation(100px);

.hive-animation{
    margin-top: 15px;
    margin-bottom: -15px;
}

#login, #register{
    width: 100%;

    div{
       display: flex;

       h2{
        margin-right: 80px;
       }
    }

    @media (min-width: 800px) and (orientation: landscape){
        width: 400px;
    }
}

#login{
    @media (min-width: 800px) and (orientation: landscape){
        margin-right: 50px;
    }  
}

#register{
    margin-top: 50px;

    @media (min-width: 800px) and (orientation: landscape){
        margin-top: 0px;
    }
}
