@import "../utils/utils";
@import "../vendors/normalize";
@import "../base/base";
@import "../components/componets";
@import "../components/mixins";
@import "../components/placeholders";
@import "../layouts/header"; 
@import "../layouts/footer"; 

#body{
    @extend %flex-column-alignItemsCenter;
   
    div{
        padding: 30px 30px;

        p:first-child {
            font-style: italic;
        }

        ul{
            list-style-type: disc;

            li{
                margin: 10px 0px;
            }
        }

        @media (min-width: 800px) and (orientation: landscape){
           width: 90%; 
        }
    }
}

h1{
    margin: 50px 0px;
    text-align: center;
}

@include beekeeper-animation(80px);
