@import "../utils/utils";
@import "../base/base";
@import "../components/componets";
@import "../layouts/header"; 
@import "../layouts/footer";

#conditions_generales_de_vente{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 2rem;
        margin: 50px 0px;
        text-align: center;
    }

    $sizebeekeeperAnim: 80px;
    @import "../components/beekeeper-animation";

    div{
        padding: 30px 30px;

        p:first-child {
            font-style: italic;
        }

        p, ul{
            font-size: 1rem;
            list-style-type: disc;

            li{
                margin: 10px 0px;
            }
        }
        h2{
            font-size: 1.4rem; 
        }
    }
        
    

    @media (min-width: 800px) and (orientation: landscape){
        div{
            width: 90%;
        }
    }
}