@import "../utils/utils";
@import "../vendors/normalize";
@import "../base/base";
@import "../components/componets";
@import "../components/mixins";
@import "../components/placeholders";
@import "../layouts/header"; 
@import "../layouts/footer"; 

#body{
    @extend %flex-column-alignItemsCenter;
    margin-bottom: 50px;

    figure{
        margin-right: 50%;
    
        @media (min-width: 800px) and (orientation: landscape){
            margin-right: 500px;
        }
    }
}

h1{
    margin-top: 50px;
}

@include sunflower-animation(100px);

form{
    div{
        display: flex;
    }
    
    @media (min-width: 800px) and (orientation: landscape){
        width: 600px;
    }
}
