@import "../utils/utils";
@import "../vendors/normalize";
@import "../base/base";
@import "../components/componets";
@import "../components/mixins";
@import "../components/placeholders";
@import "../layouts/header"; 
@import "../layouts/footer"; 

#body{
    @extend %flex-column-alignItemsCenter;
    margin-bottom: 50px;
    overflow-x: hidden;  //to hide the scrollbar caused by the animation of the bees.

    @include bee-animation(100px, 10s);
 
    figure:nth-child(2){
        @include bee-animation(100px, 8s); 
    }
}

h2{
    margin-left: 50px;    //align with second table.

    @media (max-width: 800px){
        margin-left: 0;    //remouve align.
    }
}

table{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid lightgray;

    th{
        height: 50px;
        width: 150px;
    }

    tfoot tr{
        height: 70px;
    }

    &:last-child{
        text-align: center;
        margin-left: 350px;    //align with h2.
    }

    @media (max-width: 800px){
        width: 95%;
    
        &:last-child{
            margin-left: 0;    //remouve align.

            tfoot{
                td:first-child{
                    margin: 0;
                }
            }
        }

        thead {
            display: none;
        }

        tr{
            display: block;               
        }

        td{
            display: block;
            text-align: right;
            margin: 15px 10px;

            &:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }
        }

        tfoot{
            tr{
                height: auto;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                border-top: 1px solid lightgray;;
                padding-top: 10px;
            }
        }
    }
}

.cart{
    &__cross{
        text-align: center;

        input{
            width: resize(50px, 2);
            height: resize(50px, 2);
        }
    }

    &__image{
        img{
            width: resize(180px, 4);
            height: resize(225px, 4);
        }
    }

    &__name{
        width: 250px;
    }

    &__number{
        input{
            width: 40px;
            height: 23px;
            outline: 0;                   //remove shadow
            border: 1px solid lightgray;
        }
    }

    @media (max-width: 800px){
        &__cross{
            border-top: 1px solid lightgray;;
            text-align: left;
            padding-top: 10px;
        }

        &__name{
            width: auto;
        }
    }
}

#cart{
    &__code{
        text-align: right;

        input{
            width: 150px;
            height: 23px;
            outline: 0;                   //remove shadow
            border: 1px solid lightgray; 
        }
    }

    &__use-code, &__update, &__validate{
        input{
            border: 2px solid $colorPrimary;
            color: $Black;

            &:active{
                background-color: $colorPrimary;
            }
        }
    }

    &__validate{
        @media (max-width: 800px){
            padding: 0px;
        }
    }
}