@import "../utils/utils";
@import "../base/base";
@import "../components/componets";
@import "../layouts/header"; 
@import "../layouts/footer";

#politique_de_confidentialite{
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 2rem;
        margin: 50px 0px;
        text-align: center;
    }

    $sizebeekeeperAnim: 80px;
    @import "../components/beekeeper-animation";

    h2{
        font-size: 1.8rem;
    }

    > ul{
        font-size: 1.1rem;
        padding: 0px 20px;
        text-align: end;

        li{
            margin: 20px 0px;
            display: flex;
            justify-content: space-between;

            strong{
                color: $colorSecondary;
                white-space: nowrap;
                margin-right: 30px;
            }
        }
    }

    &__instruction{
        padding: 30px 30px;
        border-top: 2px solid $Black;

        p:first-child {
            font-style: italic;
        }

        p, ol, ul{
            font-size: 1rem;
        }
        h3{
            font-size: 1.4rem; 
        }

        ul{
            list-style-type: circle;
        }
        
        ul, ol{
            li{
                margin: 20px 0px;
            }  
        }
    }

    @media (min-width: 800px) and (orientation: landscape){
        &__instruction{
            width: 90%;
        }
    }
}