header{
    border-bottom: 6px solid $colorPrimary;

    a:hover{
            color: $colorPrimary;
    }

    #header__image{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 50px;

        &-picto{
            white-space: nowrap;    //To keep the pictograms on the same line if the screen is very small

            &-compte:hover{
                background: url(../assets/pictures/header/picto_compte-active.png) no-repeat center;
            }

            &-panier:hover{
                background: url(../assets/pictures/header/picto_panier-active.png) no-repeat center;
            }

            a:last-child{
                margin-left: 50px;
            }
        }
    }

    #header__link{
        display:flex;
        justify-content: space-evenly;
        font-size: 2.3rem;
        margin-bottom: 50px;
    }

    @media (min-width: 800px) and (orientation: landscape){       //The links go below the rest
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        #header__image{
            width: 70%;
            margin-top: 20px;
            margin-bottom: 10px;

            & > a{
                img{
                    width: 173px;
                    height: 82px;
                }
            }

            &-picto{
                &-compte{
                    width: 36px;
                    height: 43px;

                    &:hover{
                        background: url(../assets/pictures/header/picto_compte-active-desktop.png) no-repeat center;
                    }
                }

                &-panier{
                    width: 29px;
                    height: 40px;

                    &:hover{
                        background: url(../assets/pictures/header/picto_panier-active-desktop.png) no-repeat center;
                    }
                }
            }

            a:last-child{
                margin-left: 25px;
            }
        }

        #header__link{
            justify-content: left;
            width: 30%;
            align-items: center;
            margin-bottom: 0;
            margin-top: 20px;
            font-size: 1.1rem;
            padding-left: 8%;

            a:first-child{
                margin-right: 10%;
            }
        }
    }
}