header{
    border-bottom: 6px solid $colorPrimary;
    a:hover{
            color: $colorPrimary;
    }
    #header__logoPicto{
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 10px;
        &-picto{
            white-space: nowrap;    //To keep the pictograms on the same line if the screen is very small
            &-compte:hover{
                background: url(../assets/pictures/header/picto_compte-active.png) no-repeat center;
            }
            &-panier:hover{
                background: url(../assets/pictures/header/picto_panier-active.png) no-repeat center;
            }
            img{
                margin-left: 25px;
            }
        }
    }
    #header__link{
        display:flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    @media (min-width: 800px) and (orientation: landscape){       //The links go below the rest
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        #header__logoPicto{
            width: 70%;
        }
        #header__link{
            width: 30%;
            align-items: center;
            margin-bottom: 0;
            margin-top: 20px;
            font-size: 1.3rem;
        }
    }
}